@charset "utf-8";
/* CSS Document */

/*couleur la plus claire*/
.container {
background-color : #D4E1EF;
box-shadow : 5px 5px 5px #080231;
}
/*2ème couleur*/
body {
background-color : #87A1BE;
}
/*3ème couleur*/
#header-area {
background-color : #5B799B;
}
#footer-area {
background-color : #5B799B;
}
/*4ème couleur*/
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
background-color : #2C4C70;
}
footer a:hover, footer a:active, footer a:focus {
background-color : #2C4C70;
}
/*5ème couleur*/
article {
	color : #081C32;
}

/*.anim table {
border : #0066FF;
}
*/
